<footer class="footer bg-secondary py-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img class="img-fluid" src="../assets/images/logo-light.svg" alt="喵行旅 MeowCoffee">
            </div>
            <div class="col-6 col-lg-3">
                <h6 class="text-white opacity-40 mb-3">MENU</h6>
                <a class="nav-link" href="cafes.html">探索地圖</a>
            </div>
            <div class="col-6 col-lg-3">
                <h6 class="text-white opacity-40 mb-3">SERVICE</h6>
                <ul class="nav flex-column row-gap-2">
                    <li class="nav-item">
                        <a class="nav-link" href="events.html">最新活動</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="apply.html">申請喵星經營者</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">常見問題</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h6 class="text-white opacity-40 mb-3">Social</h6>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between border-milktea border-top pt-4 mt-15 opacity-40">
            <p class="text-milktea text-center">© MeowCoffe All Rights Reserved.</p>
            <p class="text-milktea text-center">喵行旅版權所有</p>
        </div>
    </div>
</footer>